.navbar li {
  display: inline-block;
  padding: 26px 0;
  width: 30%;
  text-align: left;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ul {
  list-style-type: disc;
  width: 100%;
}

.navbar {
  background: #3b8d46;
  min-height: 70px;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
  color: #fff;
  font-size: calc(10px + 14 * (100vw - 320px)/ 800);
  z-index: 99;
  white-space: nowrap;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html {
  color: -internal-root-color;
}

.score {
  /* color: red; */
  float: right;
}

.brand {
  font-weight: bold;
}